.reviews-section {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
    margin-bottom: 80px;
}


.reviews-section .subheading {
    margin-bottom: 10px;
}
.reviews-section .heading {
    font-size: 36px;
    margin-bottom: 40px;
}

.carousel-reviews {



}





