.owl-theme {
    margin-bottom: 40px;
}

.carousel-item {
    background-color: var(--color-white);
    margin-right: 10px;
    height: auto;
    border-radius: 10px;
    padding: 5px 0;
}
.carousel-item img {
    max-width: 80%;
    vertical-align: center;
    margin: auto;
}